{
  "openapi": "3.0.3",
  "info": {
    "title": "NewAPI - AI模型接口",
    "description": "AI 模型接口聚合服务，支持多种 AI 模型的统一调用。\n\n## 支持的 API 格式\n- **OpenAI 格式**: Chat Completions, Responses, Embeddings, Audio 等\n- **Anthropic Claude 格式**: Messages API\n- **Google Gemini 格式**: generateContent API\n- **视频生成**: 支持可灵、即梦等视频生成模型\n\n## 认证方式\n使用 Bearer Token 认证，在请求头中添加：\n```\nAuthorization: Bearer sk-xxxxxx\n```",
    "version": "1.0.0",
    "contact": {
      "name": "NewAPI"
    }
  },
  "servers": [
    {
      "url": "https://docs.newapi.ai",
      "description": "NewAPI 文档"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "模型（Models）",
      "description": "模型列表相关接口"
    },
    {
      "name": "聊天（Chat）",
      "description": "聊天对话相关接口"
    },
    {
      "name": "图像（Images）",
      "description": "图像生成相关接口"
    },
    {
      "name": "视频（Videos）",
      "description": "视频生成相关接口"
    },
    {
      "name": "嵌入（Embeddings）",
      "description": "向量嵌入相关接口"
    },
    {
      "name": "音频（Audio）",
      "description": "音频处理相关接口"
    },
    {
      "name": "补全（Completions）",
      "description": "文本补全相关接口"
    },
    {
      "name": "实时语音（Realtime）",
      "description": "实时语音对话接口"
    },
    {
      "name": "重排序（Rerank）",
      "description": "文档重排序接口"
    },
    {
      "name": "审查（Moderations）",
      "description": "内容审核接口"
    },
    {
      "name": "未实现（Unimplemented）/文件（Files）",
      "description": "文件管理接口（未实现）"
    },
    {
      "name": "未实现（Unimplemented）/微调（Fine-tuning）",
      "description": "微调相关接口（未实现）"
    }
  ],
  "paths": {
    "/v1/models": {
      "get": {
        "tags": ["模型（Models）"],
        "summary": "列出模型 (OpenAI格式)",
        "description": "获取当前可用的模型列表。\n\n根据请求头自动识别返回格式：\n- 包含 `x-api-key` 和 `anthropic-version` 头时返回 Anthropic 格式\n- 包含 `x-goog-api-key` 头或 `key` 查询参数时返回 Gemini 格式\n- 其他情况返回 OpenAI 格式",
        "operationId": "listModels",
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "description": "Google API Key (用于 Gemini 格式)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-api-key",
            "in": "header",
            "description": "Anthropic API Key (用于 Claude 格式)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "anthropic-version",
            "in": "header",
            "description": "Anthropic API 版本",
            "required": false,
            "schema": {
              "type": "string",
              "example": "2023-06-01"
            }
          },
          {
            "name": "x-goog-api-key",
            "in": "header",
            "description": "Google API Key (用于 Gemini 格式)",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功获取模型列表",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModelsResponse"
                }
              }
            }
          },
          "401": {
            "description": "认证失败",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1beta/models": {
      "get": {
        "tags": ["模型（Models）"],
        "summary": "列出模型 (Gemini格式)",
        "description": "以 Gemini API 格式返回可用模型列表",
        "operationId": "listModelsGemini",
        "responses": {
          "200": {
            "description": "成功获取模型列表",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeminiModelsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/chat/completions": {
      "post": {
        "tags": ["聊天（Chat）/原生OpenAI格式"],
        "summary": "创建聊天补全 (OpenAI格式)",
        "description": "根据对话历史创建模型响应。支持流式和非流式响应。\n\n兼容 OpenAI Chat Completions API。",
        "operationId": "createChatCompletion",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatCompletionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功创建响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatCompletionResponse"
                }
              }
            }
          },
          "400": {
            "description": "请求参数错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "认证失败",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "请求频率限制",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/responses": {
      "post": {
        "tags": ["聊天（Chat）/原生OpenAI格式"],
        "summary": "创建响应 (OpenAI Responses格式)",
        "description": "OpenAI Responses API，用于创建模型响应。\n支持多轮对话、工具调用、推理等功能。",
        "operationId": "createResponse",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResponsesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功创建响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponsesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1beta/models/{model}:generateContent": {
      "post": {
        "tags": ["聊天（Chat）/原生Gemini格式"],
        "summary": "Gemini 内容生成",
        "description": "代理 Gemini API 请求，支持文本聊天和媒体识别。\n\n路径格式: `/v1beta/models/{model_name}:generateContent`\n\n支持的功能：\n- 文本对话\n- 多轮对话\n- 图片识别（通过 inlineData base64）\n- PDF识别\n- 视频识别\n- 音频识别\n\n⚠️注意：仅支持通过 inlineData 以 base64 方式上传媒体，不支持 fileData.fileUri 或 File API。",
        "operationId": "geminiGenerateContent",
        "parameters": [
          {
            "name": "model",
            "in": "path",
            "required": true,
            "description": "模型名称",
            "schema": {
              "type": "string"
            },
            "example": "gemini-2.5-pro"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GeminiRequest"
              },
              "examples": {
                "对话": {
                  "summary": "简单对话",
                  "value": {
                    "contents": [
                      {
                        "role": "user",
                        "parts": [
                          {
                            "text": "Hi"
                          }
                        ]
                      }
                    ]
                  }
                },
                "多轮对话": {
                  "summary": "多轮对话",
                  "value": {
                    "contents": [
                      {
                        "role": "user",
                        "parts": [{"text": "Hello"}]
                      },
                      {
                        "role": "model",
                        "parts": [{"text": "Great to meet you. What would you like to know?"}]
                      },
                      {
                        "role": "user",
                        "parts": [{"text": "I have two dogs in my house. How many paws are in my house?"}]
                      }
                    ]
                  }
                },
                "图片识别": {
                  "summary": "图片识别",
                  "value": {
                    "contents": [
                      {
                        "role": "user",
                        "parts": [
                          {"text": "Tell me about this instrument"},
                          {"inlineData": {"mimeType": "image/jpeg", "data": "图片base64"}}
                        ]
                      }
                    ]
                  }
                },
                "PDF识别": {
                  "summary": "PDF文档识别",
                  "value": {
                    "contents": [
                      {
                        "role": "user",
                        "parts": [
                          {"text": "Can you add a few more lines to this poem?"},
                          {"inlineData": {"mimeType": "application/pdf", "data": "PDF文件base64"}}
                        ]
                      }
                    ]
                  }
                },
                "视频识别": {
                  "summary": "视频内容识别",
                  "value": {
                    "contents": [
                      {
                        "role": "user",
                        "parts": [
                          {"text": "Transcribe the audio from this video and provide visual descriptions."},
                          {"inlineData": {"mimeType": "video/mp4", "data": "视频Base64"}}
                        ]
                      }
                    ]
                  }
                },
                "音频识别": {
                  "summary": "音频内容识别",
                  "value": {
                    "contents": [
                      {
                        "role": "user",
                        "parts": [
                          {"text": "Please describe this audio file."},
                          {"inlineData": {"mimeType": "audio/mpeg", "data": "音频base64"}}
                        ]
                      }
                    ]
                  }
                },
                "YouTube视频识别": {
                  "summary": "YouTube视频识别",
                  "value": {
                    "contents": [
                      {
                        "role": "user",
                        "parts": [
                          {"text": "Please summarize the video in 3 sentences."},
                          {"fileData": {"fileUri": "https://www.youtube.com/watch?v=9hE5-98ZeCg", "mimeType": "video/webm"}}
                        ]
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeminiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/messages": {
      "post": {
        "tags": ["聊天（Chat）/原生Claude格式"],
        "summary": "创建消息 (Claude格式)",
        "description": "Anthropic Claude Messages API 格式的请求。\n需要在请求头中包含 `anthropic-version`。",
        "operationId": "createMessage",
        "parameters": [
          {
            "name": "anthropic-version",
            "in": "header",
            "required": true,
            "description": "Anthropic API 版本",
            "schema": {
              "type": "string",
              "example": "2023-06-01"
            }
          },
          {
            "name": "x-api-key",
            "in": "header",
            "required": false,
            "description": "Anthropic API Key (可选，也可使用 Bearer Token)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClaudeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功创建响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClaudeResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/images/generations": {
      "post": {
        "tags": ["图像（Images）/原生OpenAI格式"],
        "summary": "生成图像",
        "description": "根据文本提示生成图像",
        "operationId": "createImage",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ImageGenerationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功生成图像",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageGenerationResponse"
                },
                "example": {
                  "created": 1713833628,
                  "data": [{"b64_json": "..."}],
                  "usage": {
                    "total_tokens": 100,
                    "input_tokens": 50,
                    "output_tokens": 50,
                    "input_tokens_details": {
                      "text_tokens": 10,
                      "image_tokens": 40
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/images/edits": {
      "post": {
        "tags": ["图像（Images）/原生OpenAI格式"],
        "summary": "编辑图像",
        "description": "根据文本提示编辑图像",
        "operationId": "createImageEdit",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/ImageEditRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功编辑图像",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageGenerationResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/video/generations": {
      "post": {
        "tags": ["视频（Videos）/Sora格式"],
        "summary": "创建视频生成任务",
        "description": "提交视频生成任务，支持文生视频和图生视频。\n\n返回任务 ID，可通过 GET 接口查询任务状态。",
        "operationId": "createVideoGeneration",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VideoGenerationRequest"
              },
              "example": {
                "model": "kling-v1",
                "prompt": "宇航员在月球上漫步",
                "duration": 5,
                "width": 1280,
                "height": 720
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功创建视频生成任务",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoGenerationTaskResponse"
                }
              }
            }
          },
          "400": {
            "description": "请求参数错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/video/generations/{task_id}": {
      "get": {
        "tags": ["视频（Videos）/Sora格式"],
        "summary": "获取视频生成任务状态",
        "description": "查询视频生成任务的状态和结果。\n\n任务状态：\n- `queued`: 排队中\n- `in_progress`: 生成中\n- `completed`: 已完成\n- `failed`: 失败",
        "operationId": "getVideoGeneration",
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "required": true,
            "description": "任务 ID",
            "schema": {
              "type": "string"
            },
            "example": "abcd1234efgh"
          }
        ],
        "responses": {
          "200": {
            "description": "成功获取任务状态",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoGenerationStatusResponse"
                }
              }
            }
          },
          "404": {
            "description": "任务不存在",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/videos": {
      "post": {
        "tags": ["视频（Videos）/Sora格式"],
        "summary": "创建视频生成任务 (通用格式)",
        "description": "提交视频生成任务",
        "operationId": "createVideo",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VideoGenerationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功创建任务",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoGenerationTaskResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/videos/{task_id}": {
      "get": {
        "tags": ["视频（Videos）/Sora格式"],
        "summary": "获取视频任务状态",
        "operationId": "getVideoTask",
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoGenerationStatusResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/videos/{task_id}/content": {
      "get": {
        "tags": ["视频（Videos）/Sora格式"],
        "summary": "获取视频内容",
        "operationId": "getVideoContent",
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功获取视频内容",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/kling/v1/videos/text2video": {
      "post": {
        "tags": ["视频（Videos）/可灵格式"],
        "summary": "可灵文生视频",
        "description": "使用可灵模型进行文本到视频生成",
        "operationId": "createKlingText2Video",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "prompt": {
                    "type": "string",
                    "description": "视频描述文本"
                  },
                  "duration": {
                    "type": "number",
                    "description": "视频时长"
                  },
                  "aspect_ratio": {
                    "type": "string",
                    "description": "宽高比"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功创建任务",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoGenerationTaskResponse"
                }
              }
            }
          }
        }
      }
    },
    "/kling/v1/videos/text2video/{task_id}": {
      "get": {
        "tags": ["视频（Videos）/可灵格式"],
        "summary": "获取可灵文生视频任务状态",
        "operationId": "getKlingText2VideoTask",
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoGenerationStatusResponse"
                }
              }
            }
          }
        }
      }
    },
    "/kling/v1/videos/image2video": {
      "post": {
        "tags": ["视频（Videos）/可灵格式"],
        "summary": "可灵图生视频",
        "description": "使用可灵模型进行图像到视频生成",
        "operationId": "createKlingImage2Video",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "image": {
                    "type": "string",
                    "description": "图像 URL 或 base64"
                  },
                  "prompt": {
                    "type": "string",
                    "description": "视频描述文本"
                  },
                  "duration": {
                    "type": "number",
                    "description": "视频时长"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功创建任务",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoGenerationTaskResponse"
                }
              }
            }
          }
        }
      }
    },
    "/kling/v1/videos/image2video/{task_id}": {
      "get": {
        "tags": ["视频（Videos）/可灵格式"],
        "summary": "获取可灵图生视频任务状态",
        "operationId": "getKlingImage2VideoTask",
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoGenerationStatusResponse"
                }
              }
            }
          }
        }
      }
    },
    "/jimeng/": {
      "post": {
        "tags": ["视频（Videos）/即梦格式"],
        "summary": "即梦视频生成",
        "description": "即梦官方 API 格式的视频生成接口。\n\n支持通过 Action 参数指定操作类型：\n- `CVSync2AsyncSubmitTask`: 提交视频生成任务\n- `CVSync2AsyncGetResult`: 获取任务结果\n\n需要在查询参数中指定 Action 和 Version。",
        "operationId": "createJimengVideo",
        "parameters": [
          {
            "name": "Action",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["CVSync2AsyncSubmitTask", "CVSync2AsyncGetResult"]
            }
          },
          {
            "name": "Version",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "example": "2022-08-31"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "req_key": {
                    "type": "string",
                    "description": "请求类型标识"
                  },
                  "prompt": {
                    "type": "string",
                    "description": "文本描述"
                  },
                  "binary_data_base64": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Base64 编码的图片数据"
                  }
                }
              },
              "example": {
                "req_key": "jimeng_video_generation",
                "prompt": "一只猫在弹钢琴"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/embeddings": {
      "post": {
        "tags": ["嵌入（Embeddings）"],
        "summary": "创建嵌入向量",
        "description": "为输入文本创建嵌入向量表示",
        "operationId": "createEmbedding",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmbeddingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功创建嵌入",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmbeddingResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/engines/{model}/embeddings": {
      "post": {
        "tags": ["嵌入（Embeddings）"],
        "summary": "创建嵌入向量 (旧版格式)",
        "description": "兼容旧版 OpenAI API 格式",
        "operationId": "createEmbeddingLegacy",
        "parameters": [
          {
            "name": "model",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmbeddingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功创建嵌入",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmbeddingResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/completions": {
      "post": {
        "tags": ["补全（Completions）"],
        "summary": "创建文本补全",
        "description": "基于给定提示创建文本补全",
        "operationId": "createCompletion",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompletionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功创建补全",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompletionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/audio/transcriptions": {
      "post": {
        "tags": ["音频（Audio）/原生OpenAI格式"],
        "summary": "音频转录",
        "description": "将音频转换为文本",
        "operationId": "createTranscription",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": ["file", "model"],
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "音频文件"
                  },
                  "model": {
                    "type": "string",
                    "description": "模型名称",
                    "example": "whisper-1"
                  },
                  "language": {
                    "type": "string",
                    "description": "ISO-639-1 语言代码"
                  },
                  "prompt": {
                    "type": "string",
                    "description": "可选提示"
                  },
                  "response_format": {
                    "type": "string",
                    "enum": ["json", "text", "srt", "verbose_json", "vtt"],
                    "default": "json"
                  },
                  "temperature": {
                    "type": "number"
                  },
                  "timestamp_granularities": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": ["word", "segment"]
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功转录",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TranscriptionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/audio/translations": {
      "post": {
        "tags": ["音频（Audio）/原生OpenAI格式"],
        "summary": "音频翻译",
        "description": "将音频翻译为英文文本",
        "operationId": "createTranslation",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": ["file", "model"],
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  },
                  "model": {
                    "type": "string"
                  },
                  "prompt": {
                    "type": "string"
                  },
                  "response_format": {
                    "type": "string"
                  },
                  "temperature": {
                    "type": "number"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功翻译",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TranscriptionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/audio/speech": {
      "post": {
        "tags": ["音频（Audio）/原生OpenAI格式"],
        "summary": "文本转语音",
        "description": "将文本转换为语音",
        "operationId": "createSpeech",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SpeechRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功生成语音",
            "content": {
              "audio/mpeg": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "audio/opus": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "audio/aac": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "audio/flac": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/v1/realtime": {
      "get": {
        "tags": ["实时语音（Realtime）"],
        "summary": "实时语音对话",
        "description": "建立 WebSocket 连接用于实时对话。\n\n**注意**: 这是一个 WebSocket 端点，需要使用 WebSocket 协议连接。\n\n连接 URL 示例: `wss://api.example.com/v1/realtime?model=gpt-4o-realtime`",
        "operationId": "createRealtimeSession",
        "parameters": [
          {
            "name": "model",
            "in": "query",
            "required": false,
            "description": "要使用的模型",
            "schema": {
              "type": "string",
              "example": "gpt-4o-realtime-preview"
            }
          }
        ],
        "responses": {
          "101": {
            "description": "WebSocket 协议切换"
          },
          "400": {
            "description": "请求错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/rerank": {
      "post": {
        "tags": ["重排序（Rerank）"],
        "summary": "文档重排序",
        "description": "根据查询对文档列表进行相关性重排序",
        "operationId": "createRerank",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RerankRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功重排序",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RerankResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/moderations": {
      "post": {
        "tags": ["审查（Moderations）"],
        "summary": "内容审核",
        "description": "检查文本内容是否违反使用政策",
        "operationId": "createModeration",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ModerationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功审核",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModerationResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/fine-tunes": {
      "get": {
        "tags": ["未实现（Unimplemented）/微调（Fine-tuning）"],
        "summary": "列出微调任务 (未实现)",
        "description": "此接口尚未实现",
        "operationId": "listFineTunes",
        "responses": {
          "501": {
            "description": "未实现",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["未实现（Unimplemented）/微调（Fine-tuning）"],
        "summary": "创建微调任务 (未实现)",
        "description": "此接口尚未实现",
        "operationId": "createFineTune",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "501": {
            "description": "未实现",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/fine-tunes/{fine_tune_id}": {
      "get": {
        "tags": ["未实现（Unimplemented）/微调（Fine-tuning）"],
        "summary": "获取微调任务详情 (未实现)",
        "description": "此接口尚未实现",
        "operationId": "retrieveFineTune",
        "parameters": [
          {
            "name": "fine_tune_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "501": {
            "description": "未实现",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/fine-tunes/{fine_tune_id}/cancel": {
      "post": {
        "tags": ["未实现（Unimplemented）/微调（Fine-tuning）"],
        "summary": "取消微调任务 (未实现)",
        "description": "此接口尚未实现",
        "operationId": "cancelFineTune",
        "parameters": [
          {
            "name": "fine_tune_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "501": {
            "description": "未实现",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/fine-tunes/{fine_tune_id}/events": {
      "get": {
        "tags": ["未实现（Unimplemented）/微调（Fine-tuning）"],
        "summary": "获取微调任务事件 (未实现)",
        "description": "此接口尚未实现",
        "operationId": "listFineTuneEvents",
        "parameters": [
          {
            "name": "fine_tune_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "501": {
            "description": "未实现",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/files": {
      "get": {
        "tags": ["未实现（Unimplemented）/文件（Files）"],
        "summary": "列出文件 (未实现)",
        "description": "此接口尚未实现",
        "operationId": "listFiles",
        "responses": {
          "501": {
            "description": "未实现",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["未实现（Unimplemented）/文件（Files）"],
        "summary": "上传文件 (未实现)",
        "description": "此接口尚未实现",
        "operationId": "createFile",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  },
                  "purpose": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "501": {
            "description": "未实现",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/files/{file_id}": {
      "get": {
        "tags": ["未实现（Unimplemented）/文件（Files）"],
        "summary": "获取文件信息 (未实现)",
        "description": "此接口尚未实现",
        "operationId": "retrieveFile",
        "parameters": [
          {
            "name": "file_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "501": {
            "description": "未实现",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["未实现（Unimplemented）/文件（Files）"],
        "summary": "删除文件 (未实现)",
        "description": "此接口尚未实现",
        "operationId": "deleteFile",
        "parameters": [
          {
            "name": "file_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "501": {
            "description": "未实现",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/files/{file_id}/content": {
      "get": {
        "tags": ["未实现（Unimplemented）/文件（Files）"],
        "summary": "获取文件内容 (未实现)",
        "description": "此接口尚未实现",
        "operationId": "downloadFile",
        "parameters": [
          {
            "name": "file_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "501": {
            "description": "未实现",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "使用 Bearer Token 认证。\n格式: `Authorization: Bearer sk-xxxxxx`"
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string",
                "description": "错误信息"
              },
              "type": {
                "type": "string",
                "description": "错误类型"
              },
              "param": {
                "type": "string",
                "nullable": true,
                "description": "相关参数"
              },
              "code": {
                "type": "string",
                "nullable": true,
                "description": "错误代码"
              }
            }
          }
        }
      },
      "Model": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "模型 ID",
            "example": "gpt-4"
          },
          "object": {
            "type": "string",
            "description": "对象类型",
            "example": "model"
          },
          "created": {
            "type": "integer",
            "description": "创建时间戳"
          },
          "owned_by": {
            "type": "string",
            "description": "模型所有者",
            "example": "openai"
          }
        }
      },
      "ModelsResponse": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "example": "list"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Model"
            }
          }
        }
      },
      "GeminiModelsResponse": {
        "type": "object",
        "properties": {
          "models": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "example": "models/gemini-pro"
                },
                "version": {
                  "type": "string"
                },
                "displayName": {
                  "type": "string"
                },
                "description": {
                  "type": "string"
                },
                "inputTokenLimit": {
                  "type": "integer"
                },
                "outputTokenLimit": {
                  "type": "integer"
                },
                "supportedGenerationMethods": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      },
      "Usage": {
        "type": "object",
        "properties": {
          "prompt_tokens": {
            "type": "integer",
            "description": "提示词 Token 数"
          },
          "completion_tokens": {
            "type": "integer",
            "description": "补全 Token 数"
          },
          "total_tokens": {
            "type": "integer",
            "description": "总 Token 数"
          },
          "prompt_tokens_details": {
            "type": "object",
            "properties": {
              "cached_tokens": {"type": "integer"},
              "text_tokens": {"type": "integer"},
              "audio_tokens": {"type": "integer"},
              "image_tokens": {"type": "integer"}
            }
          },
          "completion_tokens_details": {
            "type": "object",
            "properties": {
              "text_tokens": {"type": "integer"},
              "audio_tokens": {"type": "integer"},
              "reasoning_tokens": {"type": "integer"}
            }
          }
        }
      },
      "Message": {
        "type": "object",
        "required": ["role", "content"],
        "properties": {
          "role": {
            "type": "string",
            "enum": ["system", "user", "assistant", "tool", "developer"],
            "description": "消息角色"
          },
          "content": {
            "oneOf": [
              {"type": "string"},
              {"type": "array", "items": {"$ref": "#/components/schemas/MessageContent"}}
            ],
            "description": "消息内容"
          },
          "name": {
            "type": "string",
            "description": "发送者名称"
          },
          "tool_calls": {
            "type": "array",
            "items": {"$ref": "#/components/schemas/ToolCall"}
          },
          "tool_call_id": {
            "type": "string",
            "description": "工具调用 ID（用于 tool 角色消息）"
          },
          "reasoning_content": {
            "type": "string",
            "description": "推理内容"
          }
        }
      },
      "MessageContent": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": ["text", "image_url", "input_audio", "file", "video_url"]
          },
          "text": {"type": "string"},
          "image_url": {
            "type": "object",
            "properties": {
              "url": {"type": "string", "description": "图片 URL 或 base64"},
              "detail": {"type": "string", "enum": ["low", "high", "auto"]}
            }
          },
          "input_audio": {
            "type": "object",
            "properties": {
              "data": {"type": "string", "description": "Base64 编码的音频数据"},
              "format": {"type": "string", "enum": ["wav", "mp3"]}
            }
          },
          "file": {
            "type": "object",
            "properties": {
              "filename": {"type": "string"},
              "file_data": {"type": "string"},
              "file_id": {"type": "string"}
            }
          },
          "video_url": {
            "type": "object",
            "properties": {
              "url": {"type": "string"}
            }
          }
        }
      },
      "Tool": {
        "type": "object",
        "properties": {
          "type": {"type": "string", "example": "function"},
          "function": {
            "type": "object",
            "properties": {
              "name": {"type": "string"},
              "description": {"type": "string"},
              "parameters": {"type": "object", "description": "JSON Schema 格式的参数定义"}
            }
          }
        }
      },
      "ToolCall": {
        "type": "object",
        "properties": {
          "id": {"type": "string"},
          "type": {"type": "string", "example": "function"},
          "function": {
            "type": "object",
            "properties": {
              "name": {"type": "string"},
              "arguments": {"type": "string"}
            }
          }
        }
      },
      "ChatCompletionRequest": {
        "type": "object",
        "required": ["model", "messages"],
        "properties": {
          "model": {"type": "string", "description": "模型名称", "example": "gpt-4"},
          "messages": {"type": "array", "items": {"$ref": "#/components/schemas/Message"}, "description": "消息列表"},
          "temperature": {"type": "number", "minimum": 0, "maximum": 2, "description": "采样温度"},
          "top_p": {"type": "number", "description": "核采样参数"},
          "n": {"type": "integer", "description": "生成的补全数量"},
          "stream": {"type": "boolean", "description": "是否使用流式响应"},
          "stream_options": {"type": "object", "properties": {"include_usage": {"type": "boolean"}}},
          "stop": {"oneOf": [{"type": "string"}, {"type": "array", "items": {"type": "string"}}], "description": "停止序列"},
          "max_tokens": {"type": "integer", "description": "最大 token 数"},
          "max_completion_tokens": {"type": "integer", "description": "最大补全 token 数"},
          "presence_penalty": {"type": "number", "description": "存在惩罚"},
          "frequency_penalty": {"type": "number", "description": "频率惩罚"},
          "logit_bias": {"type": "object", "additionalProperties": {"type": "number"}},
          "user": {"type": "string", "description": "用户标识"},
          "tools": {"type": "array", "items": {"$ref": "#/components/schemas/Tool"}},
          "tool_choice": {"oneOf": [{"type": "string"}, {"type": "object"}]},
          "response_format": {"$ref": "#/components/schemas/ResponseFormat"},
          "seed": {"type": "integer"},
          "reasoning_effort": {"type": "string", "enum": ["low", "medium", "high"]},
          "modalities": {"type": "array", "items": {"type": "string"}},
          "audio": {"type": "object", "properties": {"voice": {"type": "string"}, "format": {"type": "string"}}}
        }
      },
      "ResponseFormat": {
        "type": "object",
        "properties": {
          "type": {"type": "string", "enum": ["text", "json_object", "json_schema"]},
          "json_schema": {"type": "object", "description": "JSON Schema 定义"}
        }
      },
      "ChatCompletionResponse": {
        "type": "object",
        "properties": {
          "id": {"type": "string"},
          "object": {"type": "string", "example": "chat.completion"},
          "created": {"type": "integer"},
          "model": {"type": "string"},
          "choices": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "index": {"type": "integer"},
                "message": {"$ref": "#/components/schemas/Message"},
                "finish_reason": {"type": "string", "enum": ["stop", "length", "tool_calls", "content_filter"]}
              }
            }
          },
          "usage": {"$ref": "#/components/schemas/Usage"},
          "system_fingerprint": {"type": "string"}
        }
      },
      "ResponsesRequest": {
        "type": "object",
        "required": ["model"],
        "properties": {
          "model": {"type": "string"},
          "input": {"oneOf": [{"type": "string"}, {"type": "array", "items": {"type": "object"}}], "description": "输入内容，可以是字符串或消息数组"},
          "instructions": {"type": "string"},
          "max_output_tokens": {"type": "integer"},
          "temperature": {"type": "number"},
          "top_p": {"type": "number"},
          "stream": {"type": "boolean"},
          "tools": {"type": "array", "items": {"type": "object"}},
          "tool_choice": {"oneOf": [{"type": "string"}, {"type": "object"}]},
          "reasoning": {"type": "object", "properties": {"effort": {"type": "string", "enum": ["low", "medium", "high"]}, "summary": {"type": "string"}}},
          "previous_response_id": {"type": "string"},
          "truncation": {"type": "string", "enum": ["auto", "disabled"]}
        }
      },
      "ResponsesResponse": {
        "type": "object",
        "properties": {
          "id": {"type": "string"},
          "object": {"type": "string", "example": "response"},
          "created_at": {"type": "integer"},
          "status": {"type": "string", "enum": ["completed", "failed", "in_progress", "incomplete"]},
          "model": {"type": "string"},
          "output": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "type": {"type": "string"},
                "id": {"type": "string"},
                "status": {"type": "string"},
                "role": {"type": "string"},
                "content": {"type": "array", "items": {"type": "object", "properties": {"type": {"type": "string"}, "text": {"type": "string"}}}}
              }
            }
          },
          "usage": {"$ref": "#/components/schemas/Usage"}
        }
      },
      "ClaudeRequest": {
        "type": "object",
        "required": ["model", "messages", "max_tokens"],
        "properties": {
          "model": {"type": "string", "example": "claude-3-opus-20240229"},
          "messages": {"type": "array", "items": {"$ref": "#/components/schemas/ClaudeMessage"}},
          "system": {"oneOf": [{"type": "string"}, {"type": "array", "items": {"type": "object"}}]},
          "max_tokens": {"type": "integer", "minimum": 1},
          "temperature": {"type": "number", "minimum": 0, "maximum": 1},
          "top_p": {"type": "number"},
          "top_k": {"type": "integer"},
          "stream": {"type": "boolean"},
          "stop_sequences": {"type": "array", "items": {"type": "string"}},
          "tools": {"type": "array", "items": {"type": "object", "properties": {"name": {"type": "string"}, "description": {"type": "string"}, "input_schema": {"type": "object"}}}},
          "tool_choice": {"type": "object", "properties": {"type": {"type": "string", "enum": ["auto", "any", "tool"]}, "name": {"type": "string"}}},
          "thinking": {"type": "object", "properties": {"type": {"type": "string", "enum": ["enabled", "disabled"]}, "budget_tokens": {"type": "integer"}}},
          "metadata": {"type": "object", "properties": {"user_id": {"type": "string"}}}
        }
      },
      "ClaudeMessage": {
        "type": "object",
        "required": ["role", "content"],
        "properties": {
          "role": {"type": "string", "enum": ["user", "assistant"]},
          "content": {
            "oneOf": [
              {"type": "string"},
              {"type": "array", "items": {"type": "object", "properties": {"type": {"type": "string", "enum": ["text", "image", "tool_use", "tool_result"]}, "text": {"type": "string"}, "source": {"type": "object", "properties": {"type": {"type": "string", "enum": ["base64", "url"]}, "media_type": {"type": "string"}, "data": {"type": "string"}, "url": {"type": "string"}}}, "id": {"type": "string"}, "name": {"type": "string"}, "input": {"type": "object"}, "tool_use_id": {"type": "string"}, "content": {"type": "string"}}}}
            ]
          }
        }
      },
      "ClaudeResponse": {
        "type": "object",
        "properties": {
          "id": {"type": "string"},
          "type": {"type": "string", "example": "message"},
          "role": {"type": "string", "example": "assistant"},
          "content": {"type": "array", "items": {"type": "object", "properties": {"type": {"type": "string"}, "text": {"type": "string"}}}},
          "model": {"type": "string"},
          "stop_reason": {"type": "string", "enum": ["end_turn", "max_tokens", "stop_sequence", "tool_use"]},
          "usage": {"type": "object", "properties": {"input_tokens": {"type": "integer"}, "output_tokens": {"type": "integer"}, "cache_creation_input_tokens": {"type": "integer"}, "cache_read_input_tokens": {"type": "integer"}}}
        }
      },
      "GeminiRequest": {
        "type": "object",
        "required": ["contents"],
        "properties": {
          "contents": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "role": {"type": "string", "enum": ["user", "model"]},
                "parts": {"type": "array", "items": {"type": "object", "properties": {"text": {"type": "string"}, "inlineData": {"type": "object", "properties": {"mimeType": {"type": "string"}, "data": {"type": "string"}}}}}}
              }
            }
          },
          "generationConfig": {"type": "object", "properties": {"temperature": {"type": "number"}, "topP": {"type": "number"}, "topK": {"type": "integer"}, "maxOutputTokens": {"type": "integer"}, "stopSequences": {"type": "array", "items": {"type": "string"}}}},
          "safetySettings": {"type": "array", "items": {"type": "object", "properties": {"category": {"type": "string"}, "threshold": {"type": "string"}}}},
          "tools": {"type": "array", "items": {"type": "object"}},
          "systemInstruction": {"type": "object", "properties": {"parts": {"type": "array", "items": {"type": "object"}}}}
        }
      },
      "GeminiResponse": {
        "type": "object",
        "properties": {
          "candidates": {"type": "array", "items": {"type": "object", "properties": {"content": {"type": "object", "properties": {"role": {"type": "string"}, "parts": {"type": "array", "items": {"type": "object"}}}}, "finishReason": {"type": "string"}, "safetyRatings": {"type": "array", "items": {"type": "object"}}}}},
          "usageMetadata": {"type": "object", "properties": {"promptTokenCount": {"type": "integer"}, "candidatesTokenCount": {"type": "integer"}, "totalTokenCount": {"type": "integer"}}}
        }
      },
      "ImageGenerationRequest": {
        "type": "object",
        "required": ["prompt"],
        "properties": {
          "model": {"type": "string", "description": "用于图像生成的模型。`dall-e-2`、`dall-e-3` 或 `gpt-image-1` 之一。"},
          "prompt": {"type": "string", "description": "所需图像的文本描述"},
          "n": {"type": "integer", "description": "要生成的图像数量", "minimum": 1, "maximum": 10},
          "size": {"type": "string", "description": "生成的图像大小", "enum": ["256x256", "512x512", "1024x1024", "1536x1024", "1024x1536", "1792x1024", "1024x1792"]},
          "background": {"type": "string", "description": "背景透明度设置（仅 gpt-image-1）", "enum": ["transparent", "opaque", "auto"]},
          "moderation": {"type": "string", "description": "内容审核级别", "enum": ["low", "auto"]},
          "quality": {"type": "string", "description": "图像质量"},
          "style": {"type": "string", "description": "图像风格"},
          "user": {"type": "string", "description": "用户标识"}
        }
      },
      "ImageGenerationResponse": {
        "type": "object",
        "properties": {
          "created": {"type": "integer"},
          "data": {"type": "array", "items": {"type": "object", "properties": {"b64_json": {"type": "string"}, "url": {"type": "string"}}}},
          "usage": {"type": "object", "properties": {"total_tokens": {"type": "integer"}, "input_tokens": {"type": "integer"}, "output_tokens": {"type": "integer"}, "input_tokens_details": {"type": "object", "properties": {"text_tokens": {"type": "integer"}, "image_tokens": {"type": "integer"}}}}}
        }
      },
      "ImageEditRequest": {
        "type": "object",
        "required": ["image", "prompt"],
        "properties": {
          "image": {"type": "string", "format": "binary", "description": "要编辑的原始图像"},
          "mask": {"type": "string", "format": "binary", "description": "遮罩图像"},
          "prompt": {"type": "string", "description": "编辑描述"},
          "model": {"type": "string"},
          "n": {"type": "integer"},
          "size": {"type": "string"}
        }
      },
      "VideoGenerationRequest": {
        "type": "object",
        "required": ["model", "prompt"],
        "properties": {
          "model": {"type": "string", "description": "模型名称"},
          "prompt": {"type": "string", "description": "视频描述"},
          "duration": {"type": "number", "description": "视频时长（秒）"},
          "width": {"type": "integer", "description": "视频宽度"},
          "height": {"type": "integer", "description": "视频高度"},
          "fps": {"type": "integer", "description": "帧率"},
          "image": {"type": "string", "description": "参考图像（用于图生视频）"},
          "seed": {"type": "integer", "description": "随机种子"}
        }
      },
      "VideoGenerationTaskResponse": {
        "type": "object",
        "properties": {
          "id": {"type": "string", "description": "任务 ID"},
          "status": {"type": "string", "enum": ["queued", "in_progress", "completed", "failed"], "description": "任务状态"},
          "created_at": {"type": "integer", "description": "创建时间"}
        }
      },
      "VideoGenerationStatusResponse": {
        "type": "object",
        "properties": {
          "id": {"type": "string", "description": "任务 ID"},
          "status": {"type": "string", "enum": ["queued", "in_progress", "completed", "failed"], "description": "任务状态"},
          "progress": {"type": "number", "description": "进度百分比"},
          "video_url": {"type": "string", "description": "视频 URL（完成后）"},
          "metadata": {"$ref": "#/components/schemas/VideoTaskMetadata"},
          "error": {"$ref": "#/components/schemas/VideoTaskError"}
        }
      },
      "VideoTaskMetadata": {
        "type": "object",
        "description": "视频任务元数据",
        "properties": {
          "duration": {"type": "number", "description": "实际生成的视频时长", "example": 5},
          "fps": {"type": "integer", "description": "实际帧率", "example": 30},
          "width": {"type": "integer", "description": "实际宽度", "example": 1280},
          "height": {"type": "integer", "description": "实际高度", "example": 720},
          "seed": {"type": "integer", "description": "使用的随机种子", "example": 20231234}
        }
      },
      "VideoTaskError": {
        "type": "object",
        "description": "视频任务错误信息",
        "properties": {
          "code": {"type": "integer", "description": "错误码"},
          "message": {"type": "string", "description": "错误信息"}
        }
      },
      "EmbeddingRequest": {
        "type": "object",
        "required": ["model", "input"],
        "properties": {
          "model": {"type": "string", "description": "模型名称"},
          "input": {"oneOf": [{"type": "string"}, {"type": "array", "items": {"type": "string"}}], "description": "要嵌入的文本"},
          "encoding_format": {"type": "string", "enum": ["float", "base64"]},
          "dimensions": {"type": "integer", "description": "输出维度"},
          "user": {"type": "string"}
        }
      },
      "EmbeddingResponse": {
        "type": "object",
        "properties": {
          "object": {"type": "string", "example": "list"},
          "data": {"type": "array", "items": {"type": "object", "properties": {"object": {"type": "string", "example": "embedding"}, "index": {"type": "integer"}, "embedding": {"type": "array", "items": {"type": "number"}}}}},
          "model": {"type": "string"},
          "usage": {"type": "object", "properties": {"prompt_tokens": {"type": "integer"}, "total_tokens": {"type": "integer"}}}
        }
      },
      "CompletionRequest": {
        "type": "object",
        "required": ["model", "prompt"],
        "properties": {
          "model": {"type": "string"},
          "prompt": {"oneOf": [{"type": "string"}, {"type": "array", "items": {"type": "string"}}]},
          "max_tokens": {"type": "integer"},
          "temperature": {"type": "number"},
          "top_p": {"type": "number"},
          "n": {"type": "integer"},
          "stream": {"type": "boolean"},
          "stop": {"oneOf": [{"type": "string"}, {"type": "array", "items": {"type": "string"}}]},
          "suffix": {"type": "string"},
          "echo": {"type": "boolean"}
        }
      },
      "CompletionResponse": {
        "type": "object",
        "properties": {
          "id": {"type": "string"},
          "object": {"type": "string", "example": "text_completion"},
          "created": {"type": "integer"},
          "model": {"type": "string"},
          "choices": {"type": "array", "items": {"type": "object", "properties": {"text": {"type": "string"}, "index": {"type": "integer"}, "finish_reason": {"type": "string"}}}},
          "usage": {"$ref": "#/components/schemas/Usage"}
        }
      },
      "TranscriptionResponse": {
        "type": "object",
        "properties": {
          "text": {"type": "string", "description": "转录的文本"},
          "task": {"type": "string"},
          "language": {"type": "string"},
          "duration": {"type": "number"},
          "words": {"type": "array", "items": {"type": "object", "properties": {"word": {"type": "string"}, "start": {"type": "number"}, "end": {"type": "number"}}}},
          "segments": {"type": "array", "items": {"type": "object"}}
        }
      },
      "SpeechRequest": {
        "type": "object",
        "required": ["model", "input", "voice"],
        "properties": {
          "model": {"type": "string", "description": "TTS 模型", "example": "tts-1"},
          "input": {"type": "string", "description": "要转换的文本"},
          "voice": {"type": "string", "description": "语音类型", "enum": ["alloy", "echo", "fable", "onyx", "nova", "shimmer"]},
          "response_format": {"type": "string", "description": "输出格式", "enum": ["mp3", "opus", "aac", "flac"], "default": "mp3"},
          "speed": {"type": "number", "description": "语速", "minimum": 0.25, "maximum": 4.0, "default": 1.0}
        }
      },
      "RerankRequest": {
        "type": "object",
        "required": ["model", "query", "documents"],
        "properties": {
          "model": {"type": "string", "description": "重排序模型"},
          "query": {"type": "string", "description": "查询文本"},
          "documents": {"type": "array", "items": {"type": "string"}, "description": "待排序的文档列表"},
          "top_n": {"type": "integer", "description": "返回前 N 个结果"},
          "return_documents": {"type": "boolean", "description": "是否返回文档内容"}
        }
      },
      "RerankResponse": {
        "type": "object",
        "properties": {
          "id": {"type": "string"},
          "results": {"type": "array", "items": {"type": "object", "properties": {"index": {"type": "integer"}, "relevance_score": {"type": "number"}, "document": {"type": "object"}}}},
          "usage": {"type": "object", "properties": {"total_tokens": {"type": "integer"}}}
        }
      },
      "ModerationRequest": {
        "type": "object",
        "required": ["input"],
        "properties": {
          "model": {"type": "string", "description": "审核模型"},
          "input": {"oneOf": [{"type": "string"}, {"type": "array", "items": {"type": "string"}}], "description": "要审核的文本"}
        }
      },
      "ModerationResponse": {
        "type": "object",
        "properties": {
          "id": {"type": "string"},
          "model": {"type": "string"},
          "results": {"type": "array", "items": {"type": "object", "properties": {"flagged": {"type": "boolean"}, "categories": {"type": "object", "additionalProperties": {"type": "boolean"}}, "category_scores": {"type": "object", "additionalProperties": {"type": "number"}}}}}
        }
      }
    }
  }
}

